body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    width: 400px;
    margin: 50px auto;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .quiz-options {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 30px;
  }
  
  .option {
    width: 45%; /* Adjust width as needed */
    background-color: #f1f1f1;
    padding: 20px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.2s ease-in-out;
  }
  
  .option:hover {
    background-color: #e0e0e0;
  }
  
  .option h2 {
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  .option p {
    font-size: 16px;
    color: #666;
  }
  